<div ng-show="contact">
    <div class="contact-page">
        <div class="contact-page-text-block">
            <h1>Контакти</h1>
            <div class="contact-block-left">
                <p>
                    На рахунок замовлення тренажерів:
                </p>
                <ul>
                    <li>
                        мобільний телефон: 096-645-72-16
                    </li>
                    <li>
                        стаціонарний телефон: (032) 291-04-76 (Львів)
                    </li>
                    <li>
                        електронна пошта: uostap@gmail.com
                    </li>
                </ul>
            </div>
            <div class="contact-block-right">
                <p>
                    На рахунок тренувань, консультацій та тренерських послуг:
                </p>
                <ul>
                    <li>
                        мобільний телефон: 096-645-72-16
                    </li>
                    <li>
                        стаціонарний телефон: (032) 291-04-76 (Львів)
                    </li>
                    <li>
                        електронна пошта: uostap@gmail.com
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
