<div ng-show="details">
    <div class="details-page">
        <h1>Тренажер атлетичний багатофункційний</h1>
        <img src="img/5.jpg" alt="">
        <div class="details">
            <p>
            Багатофункційний силовий комплекс для стимулювання всіх груп м’язів людського тіла.
            </p>
            <p>
            Власним новаторським технічним рішенням була система роздільних незалежних силових ричагів завантаження, що дозволяє незалежне навантаження як для лівої, так і для правої сторони тіла.
            </p>
            <p>
                Таким чином атлет може тренувати м’язи рук і ніг разом, окремо або почергово із різною вагою для кожної, що покращує збалансування сили та координацію правої і лівої сторони тіла.
            </p>
            <p>
                Траєкторія та амплітуда руху силових ричагів максимально наближена до анатомічно-біомеханічних особливостей людини та руху кінцівок тіла. Забезпечує ергономічне поставлення для Вашого тіла під час виконання вправи, максимальне нарощування навантаження в момент пікового скорочення м’язів як в негативній, так і в позитивній фазі руху. Стабілізує та дублює рух суглобів під час їх навантаження, підтримує тіло в рівновазі, прикладає зусилля в потрібному напрямку, що зберігає суглоби, м’язи, зв’язки, хрящі, сухожилля та кістки від їх пошкоджень.
            </p>
            <p>
                Прості та зручні регулювання, невеликі габаритні розміри – невеликий простір але максимальне завантаження. Має переваги над тренажерами, які є на ринку безперечною ергономікою, конструкцією, функціональністю, надійністю, інноваційно-оригінальним рішенням конструкції вузлів та механізмів, що забезпечує мінімальний ризик травми. Ціна тренажера при цьому доступна.
            </p>
            <p>
                В тренажері можна виконувати трисуглобні комплексні базові вправи (тяги верхні, горизонтальні, станові, жими під різними кутами, зведення-розведення, жими нижні, верхні) та односуглобні ізольовані вправи (згинання-розгинання рук в локтях і згинання-розгинання ніг в колінах). Ще одна перевага перед іншими тренажерами: в людей, які мають проблеми з хребтовим викривленням (сколіоз) – покращує його поставлення в той час, коли деякі інші тренажери, які є на ринку – можуть взагалі погіршити стан хребта.
            </p>
            <p>
                Є можливість використовувати тренажер, як лавку для виконання вільних вправ (жим горизонтальний штангою, вправи гантелями, підйоми тулуба і стегон під різними кутами нахилу, присідання з штангою та інше).
            </p>
            <p>
                Навантаження збільшується вільною вагою (металевими дисками діапазоном від о,5 кг, до 50 кг, діаметром 120-400 мм. Діаметр отвору – 26 мм). Опора для штанги роликова, що полегшує підбір та центрування штанги при великій вазі.
            </p>
            <p>
                Науковцями доведено, що для стимулювання м’язів людського тіла найкращими є тренажери з роздільними незалежними силовими ричагами з навантаженням вільною вагою (металевими дисками), це є природно, просто та геніально в порівнянні з навантаженням вантажоблочними, пружинними, резиновими, пневматичними, гідравлічними та іншими системами, які не дають такого результату і якості тренувань. Професійні атлети використовують тільки тренажери з незалежними силовими ричагами.
            </p>
            <h3>Користь тренажера</h3>
            <p>
                Стимулювання слабких м’язових місць зміцнює та покращує з’єднувальну тканину (зв’язки, хрящі, сухожилля, кістки). Зменшується відкладення солей в суглобах, що покращує рух, гнучкість, кровопостачання, змазуючі  речовини та в загальному координацію та моторику всього тіла. Формується тіло, контролюється вага, збільшується об’єм м’язів та сила, що покращує фізичну підготовку та результативність в багатьох видах спорту. також використовується для реабілітації після пошкоджень. Покращується робота внутрішніх органів (серцево-судинної системи, шлунково-кишкового тракту та ендокринної системи). Збільшується рівень гемоглобіну та еритроцитів, що краще забезпечує організм киснем, знижується рівень холестерину. Посилюється і тренується імунна система, сила та швидкість нервового імпульсу, покращується обмін речовин. Оздоровлюється організм в цілому.
            </p>
            <h3>Запобігає хворобам</h3>
            <p>
               Остеохондроз, остеопороз, артрит, артеосклероз, радикуліт, сколіоз, ішемія серця, гіпертонія, вегето-судинна дистонія, діабет, неврози, рак. 
            </p>
            <h3>Ми радимо</h3>
            <p>
                Щоб придбати тренажер проконсультуйтеся у спеціалістів. Це можна зробити у нашій школі атлетизму. Тренажер дає результат, якщо вправи виконувати технічно правильно.
            </p>
            <h3>Примітка по застосуванню</h3>
            <p>
                Розміщатися в тренажері так, щоб Ви не відчували незручності. Виконання вправ повинне бути технічним. Інтенсивність тренувань коректуйте від свого почуття: зменшуйте або збільшуйте підходи, повторення та навантаження, частота серцевого пульсу не повинна перевищувати 125 уд./хв., а тиск – 90/140.
            </p>
            <p>
                При силових вправах для посилення нервового імпульсу в критичних точках не затримуйтесь більше як на 3 секунди. Не робіть перевантаження в останніх повтореннях, щоб відчувати легку м’язеву біль і важкість. В перший тиждень тренувань буде загальна важкість і біль у м’язах. Після цього все внормується і стане загальне покращення організму.
            </p>
            <p>
                Займатися можна від 10 років до глибокої старості. Можливе пристосування в домі, офісах, реабілітаційних центрах, спортивних залах, учбових закладах, військових підрозділах і т.д.
            </p>
            <h3>Параметри</h3>
            <ul>
                <li>Довжина – 1910 мм.</li>
                <li>Ширина – 1370 мм.</li>
                <li>Висота – 1850 мм.</li>
            </ul>
        </div>
    </div>
</div>