<footer class="main-footer">
    <div class="container clearfix">
        <section class="footer-contacts">
            Школа атлетичної силової підготовки<br /> м'язів для різних видів спорту<br> Адреса: м. Львів, Шевчека, д. 366Б<br>
            <a href="#">Як нас найти?</a><br> Телефон: +38 (096) 645-72-16
        </section>
        <section class="footer-social">
            <p>Давайте дружити!</p>
            <a class="social-btn" href="#">вкотнтакте</a>
        </section>
        <section class="footer-copyright">
            <p>Всі права захищено © 2017</p>
        </section>
    </div>
</footer>
