<div ng-show="loginPage">
    <div ng-show="loginBlock">
        <div class="login-page">
            <div class="container-login">
                <h1>Вхід в особистий кабінет</h1>
                <span>Введіть логін і пароль для входу в ваш кабінет користувача:</span>
                <div class="login-password">
                    <input type="text" name="login" id="login" placeholder="Введіть логін" class="login-field" ng-model="login">
                    <input type="password" name="password" placeholder="Введіть пароль" id="password" class="password-field" ng-model="password">
                </div>
                <div class="remind-forget">
                    <div class="remind">
                        <input type="checkbox" id="remindMe">
                        <label for="remindMe">Запам'ятай мене</label>
                    </div>
                    <div class="forget">
                        <a href="#">Забув пароль</a>
                    </div>
                </div>
                <div class="enter-register-block clearfix">
                    <input type="button" value="ВХІД" ng-click="check()">
                    <a href="#" ng-click="changeToRegister()">Зарегиструватися</a>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="registerBlock">
        <div class="container-login">
            <div class="register-page">
                <h1>Регистрація користувача</h1>
                <div class="register-inputs">
                    <input type="text" name="loginReg" id="loginReg" placeholder="Введіть логін" ng-model="loginReg">
                    <input type="password" name="passwordReg" id="passwordReg" placeholder="Введіть пароль" ng-model="passwordReg">
                    <input type="text" name="emailReg" id="emailReg" placeholder="Введіть вашу ел.пошту" ng-model="emailReg">
                    <input type="text" name="nameReg" id="nameReg" placeholder="Введіть ваше ім'я" ng-model="nameReg">
                    <input type="text" name="surnameReg" id="surnameReg" placeholder="Введіть ваше прізвище" ng-model="snameReg">
                    <input type="text" name="dateReg" id="dateReg" placeholder="Введіть вашу дату народження" ng-model="bdayReg">
                </div>
                <button ng-click="registerAccount()">Зареєструватися</button>
            </div>
        </div>
    </div>
        <user-block></user-block>
</div>