<div ng-show="home">
    <div class="main-page">
        <h1>ГІКС</h1>
        <slider-block></slider-block>
        <div class="main-page-text-block clearfix">
            <p>
                <span>“ГІКС”</span> – власна школа атлетичної силової підготовки м’язів для багатьох видів спорту, загальної профілактики здоров’я і реабілітування після травмувань.
            </p>
            <p>
                Власний багаторічний досвід тренувань та навиків у спорті і подальших дослідженнях та випробуваннях дав зрозуміти, що ні в одному виді спорту, загальної профілактики здоров’я чи реабілітації після травмувань не можливі результати без прогресивно-новаторського
                якісного формування, розвитку та атлетичної силової підготовки м’язів. А без регулярного системного стимулювання неможливе правильне природне поставлення плечевого, тазо-стегнового суглобів та хребта.
            </p>
            <p>
                Цей досвід надав натхнення розробити власні конструкції та виготовити тренажери і спорядження. Було відкрито власну школу атлетичної силової підготовки із системною методикою тренувань різних напрямків для гармонійного розвитку особистості людини.
            </p>
            <h2>Надаємо послуги:</h2>
            <ul>
                <li>
                    розробка та постачання власних тренажерів і спорядження для міні-залів у дома, офісів, учбових закладів, військових підрозділів і т.д. з можливістю виїзду тренера для навчання по місцю розташування залу (”<a href="#">Тренажери</a>“);
                </li>
                <li>
                    консультації – поради вибору тренажерів, спорядження та екіпірування; поради по харчуванню і фармакологічній підтримці;
                </li>
                <li>
                    тренування в школі “ГІКС” – загальне або з особистим тренером;
                </li>
                <li>
                    проведення прогресивного новаторського майстер-класу по методиці тренувань та технічних навиків у вправах;
                </li>
                <li>
                    складання особисто для кожної людини комп’ютерних програм тренувань і тестування для атлетичної силової підготовки м’язів для різних видів спорту (важка атлетика, пауерліфтфнг, атлетизм, легка атлетика, єдиноборства, ігрові види, водні види, зимові види
                    та інші види спорту) чи підготовка м’язів для загальної профілактики здоров’я і реабілітація після травмувань;
                </li>
                <li>
                    тренування пауерліфтінгу і атлетизму.
                </li>
            </ul>
            <h2>P.S.</h2>
            <p>
                В проекті вихід авторської книги “Прогресивна схема-методика якісного формування, розвиток тренажерний зал, атлетична школа атлетичної силової підготовки м’язів та їх регулярне системне стимулювання, що спонукає до правильної природньої постави плечевого,
                тазо-стегнового поясів, кісткових ричагів та хребта”. Власна конструкція тренажерів та система тренувань для покращення результатів в багатьох видах спорту, загальне покращення та профілактика здоров’я, реабілітація після травмувань, щоб
                наша система тренувань та тренажери були задіяні кожною людиною для її здоров’я та довголіття. Про тренажери нашої розробки Ви можете прочитати в розділі “<a href="#">Тренажери</a>“. З нами можна зв’язатись декількома способами. Докладніше на сторінці
                “<a href="#">Контакти</a>“.
            </p>
        </div>
    </div>
</div>
