<div ng-show="simulators">
    <div class="simulators-page">
        <h2>Тренажери</h2>
        <div class="add-simulators">
            <input type="button" value="Добавити">
        </div>
        <div class="simulators-catalog-items clearfix">
            <img src="img/5.jpg" width="100%" height="370" />
            <div class="simulators-items-name">
                <a href="#">name</a>
            </div>
            <div class="simulators-items-details">
                <a href="#" ng-click="showDetailsPage()">Детальніше</a>
            </div>
            <div class="change-delete-simulators">
                <input type="button" value="Змінити">
                <input type="button" value="Видалити">
            </div>
        </div>
    </div>
</div>