<div ng-show="usersPageBlock">
    <div class="container-userspage clearfix">
        <div class="users-navigation">
            <h3>Профіль користувача</h3>
        </div>
        <div class="users-page">
            <div class="users-page-photo">
                <img src="../img/24432041.jpg" alt="" width="200px" height="200px">

            </div>
            <div class="users-page-information">
                <h3>Ім'я і Прізвище користувача</h3>
                <span>{{nameUserTable}} {{snameUserTable}}</span>
                <p>ел.пошта</p>
                <span>{{aboutUserTable}}</span>
                <p>дата народження</p>
                <span>{{bdateUserTable}}</span>
            </div>
            <div class="users-page-navigation">
                <input type="button" value="Змінити фото">
                <input type="button" value="Редагувати профіль" ng-click="cngUsersPage()">
                <input type="button" value="Вийти" ng-click="logOut()">
            </div>
        </div>
    </div>
</div>